<hero class="grid bg-gray-700 relative overflow-hidden h-screen -mt-20 md:mt-0 lg:h-[500px]  bg-center xl:bg-[center_top_-20rem] text-white text-center bg-cover z-10  bg-[url('https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?fm=jpg&q')]"> 
    <div class=" col-start-1 row-start-1  bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class=" col-start-1 row-start-1 py-12 grid md:block place-content-center -mt-20 md:mt-0 text-center md:pt-4 px-10 z-10">
      <div class="herotext-anim max-w-[1170px] md:px-10 mx-auto">  
        <h1 class="font1 leading-none font-thin text-6xl title-fadein titleBlip">Welcome to VibeGram</h1>
        <p class="text-lg font-bold mb-5" >Where Creativity Meets Connection Share your favorite Photos from flicker and add a great caption</p>
        {% if not user.is_authenticated %}
        <a class=" inline-block cursor-pointer bg-gray-800 hover:bg-black text-white font-bold text-lg rounded-full py-5 px-6 transition-all" href="{% url "account_signup" %}">Create Account</a>
        {% endif %}
      </div>
    </div>
</hero>

