{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> VibeGram</title>
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/laces/64/000000/v.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
        <link href="{% if debug  %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}" rel="stylesheet">

       
       
        
        
    </head>
<body id="home" class=" relative transition-all duration-1000 bg-gray-100  
{% block class %}{% endblock %}">



{% include "includes/messages.html" %}



{%  include "includes/header.html" %}




{% block layout %}
{% endblock %}




<script>
    window.addEventListener("scroll", function() {
  const distance = window.scrollY
  const herotext = document.querySelector(".herotext-anim");
  const opacity = 1 - distance / (window.innerHeight * 0.3);
  herotext.style.transform = `translateY(${distance * 0.6}px)`;
  herotext.style.opacity = opacity;
});
</script>





</body>
</html>



